<div class="container-fluid">
 <div class="text-center">
   
    <div class="text-center"><h1 class="display-1"><strong></strong>About</h1></div>
    
    <div class="col-12 text-center">
      <p class="">ながのCAKEは全国発送可能なケーキ屋さんです<br>
      お子様からお年寄りまでお召し上がりいだけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください</p>
    </div>
  <%= image_tag 'naganocake02.jpg', class: "thanksbox" %>
  </div>
</div>
