<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NAGANO CAKE</title>
    <link rel="stylesheets" href="stylesheet.css">
  </head>

  <body>
    <div class="top">
      <h2>pâtisserie</h2>
      <h1><strong>NAGANO CAKE</strong></h1>
      <p>notre inspiration,c'est vous</p>
    </div>
  </body>

</html>
