<div class="container-fluid">
  <div class="text-center">
    
    <div style="height: 300px;">
      <div class="text-center">
        <h2>ご注文ありがとうございました</h2>
      </div>
    </div>
    
topへ戻る
  </div>
</div>